<%= form_with(model: competition, class: "contents") do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>
      <ul class="list-disc ml-6">
        <% competition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label "运动会名称" %>
    <%= form.text_field :name, class: ["input block mt-1", {"border-gray-400 focus:outline-blue-600": competition.errors[:name].none?, "border-red-400 focus:outline-red-600": competition.errors[:name].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label "开始日期" %>
    <%= form.date_field :start_date, class: ["input block mt-1", {"border-gray-400 focus:outline-blue-600": competition.errors[:start_date].none?, "border-red-400 focus:outline-red-600": competition.errors[:start_date].any?}] %>
  </div>
  <div class="inline">
    <%= form.submit "提交", class: "btn btn-primary mr-2" %>
  </div>
<% end %>