<div class="flex justify-center mb-8">
  <ul class="steps">
    <li class="step <%= step == "set_grades" ? "step-primary" : "" %>">参赛年级</li>
    <li class="step <%= step == "athletes" ? "step-primary" : "" %>">运动员报名</li>
    <li class="step <%= step == "heats" ? "step-primary" : "" %>">径赛分组</li>
    <li class="step <%= step == "schedule" ? "step-primary" : "" %>">日程安排</li>
    <li class="step <%= step == "summary" ? "step-primary" : "" %>">总览</li>
  </ul>
</div>